<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Моя страница</h1>
    <h2>Привет, {{ login }}!</h2>
{% if wishlists %}
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Комментарий</th>
            <th>Дата события</th>
        </tr>
        {% for wishlist in wishlists %}
        <tr>
            <td>{{ wishlist[0] }}</td>
            <td>{{ wishlist[2] }}</td>
            <td>{{ wishlist[3] }}</td>
            <td>{{ wishlist[4] }}</td>
            <td>
                <a href="{{ url_for('list_gifts', wishlist_id=wishlist[0]) }}"><button>Посмотреть подарки</button></a>
            </td>
            <td>
                <a href="{{ url_for('add_gifts', wishlist_id=wishlist[0]) }}"><button>Добавить подарок</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>У вас пока нет вишлистов</p>
    {% endif %}
    
    <a href="{{ url_for('create_wishlist') }}"><button>Создать вишлист</button></a>
    <br>
    <a href="{{ url_for('choice') }}"><button>Назад</button></a>
</body>
</html>

