<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешный вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="centered-page">
    <div class="container">
        <h1>Вы успешно вошли!</h1>
        <p>Добро пожаловать, {{ login }}!</p>
        <a href="{{ url_for('choice')}}"><button>Продолжить</button></a>
    </div>
</body>
</html>